@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #282828;

  --teal-500: #15b79e;
  --teal-800: #125d56;
  --teal-600: #1ba38e;
  --orange-500: #f87c22;
  --orange-400: #ffad5f;
  --gold-500: #f6c946;
  --gold-400: #ffdf5e;
  --cream: #f4e9d5;
  --brown-dark: #411b0e;
  --brown-accent: #b6621d;
  --footer-bg: #151414;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-teal-500: var(--teal-500);
  --color-teal-600: var(--teal-600);
  --color-teal-800: var(--teal-800);
  --color-orange-500: var(--orange-500);
  --color-orange-400: var(--orange-400);
  --color-gold-500: var(--gold-500);
  --color-gold-400: var(--gold-400);
  --color-cream: var(--cream);
  --color-brown-dark: var(--brown-dark);
  --color-brown-accent: var(--brown-accent);
  --color-footer-bg: var(--footer-bg);
  --font-sans: var(--font-manrope);
  --font-display: var(--font-bricolage);
  --font-hero: var(--font-raleway);
  --font-accent: var(--font-kumbh);
  --font-button: var(--font-jost);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), system-ui, sans-serif;
}
